# (Buat .env di file backend, lalu isi dengan data di bawah ini):

# Konfigurasi Database

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=perpustakaan
DB_PORT=3306

# Konfigurasi Server & JWT

JWT_SECRET=isi_secret_kamu_disini
JWT_EXPIRES=1d
PORT=3000